@charset "UTF-8";
/* 전체 공통 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr, 
textarea, button, form {
    margin: 0; padding: 0;
}

body {
    font-family: "맑은 고딕", 돋움, 굴림;
    font-size: 12px;
}

a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black;}
 
ul, ol {list-style-type: none;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

.f-xl {font-size: 20px;}
.f-l {font-size: 16px;}
.f-s {font-size: 10px;}
.bold {font-weight: bold;}


/* 레이아웃 */
#wrap {
    width: 1000px;
    /* background-color: yellow; */
    margin: 0px auto; /*auto는 가운데 배치(화면 크기와 상관 x)*/

}

#header {
    /* background-color: blue; */
    border-bottom: 1px solid #a6a6a6;
}

#nav {
    /* background-color: green; */
    border-bottom: 1px solid #a6a6a6;
}

#contents {
    /* background-color: pink; */
    padding: 40px 20px 40px 20px;
}

#footer {
    background-color: #dddddd;
    padding: 20px 10px 20px 10px;
    text-align: center;
}
 

/* 헤더영역 */
#header>h1 {
    margin: 10px 0px 10px 0px;
    float: left;
}

#header>h1>a {
    font-size: 35px;
    color: #79B30B; /*이 색은 자식한테 상속이 안됨*/
}

#header>ul {
    float: right;
    margin: 30px 0px 0px 0px;
}

#header>ul>li {
    float:left;
    margin: 0px 0px 0px 30px;
}

/* 네비영역 */
#nav>ul {
    margin: 10px 0px 10px 0px;
}

#nav>ul>li {
    float: left;
    width: 248px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    /* border: 1px solid black; */
}

/* 컨텐츠 영역 */
#contents #profile-img {
    float: left;
    width: 300px;
    margin: 0px 20px 0px 0px;
}

#contents #greeting {
    float: left;
}

